/* Common Css */
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}
.title{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.5rem;
}
.title:after {
    position: absolute;
    content: '';
    height: 0.1rem;
    margin: 0 auto;
    margin-top: 2.6rem;
    left: 0;
    right: 0;
    width: 25%;
    background: #b6b5b5;
}

/* Banner */
#banner{
    background: url('/assets/images/bg-image.jpg');
    background-size: cover;
    background-repeat: inherit;
}
#banner h1{
    font-size: 3.4rem;
    font-weight: 700;
}
#banner .btn{
    font-size: 0.8rem;
    letter-spacing: 2px;
    border: 1px solid #fff;
    border-radius: 6px;
    color: #fff;
}
#banner .btn:hover{
    background-color: #fff;
    color: #111;
}

/* Happnenings section */
#happenings{
    background-color: #ebebeb;
}
#happenings .card{
    border: none;
    background-color: #ebebeb;
}
#happenings .card .card-img{
    height: 200px;
}
#happenings .card .card-body{
    padding-right: 0!important;
    padding-left: 0!important;
    color: #686464;
}
#happenings .card .card-body h5{
    font-weight: 700;
    font-size: 1rem;
}
#happenings .card .card-body p{
    font-size: 0.85rem;
    margin-bottom: 0;
}
#happenings .card .card-footer i{
    padding-top: 0.2rem;
}
#happenings .card .card-footer{
    background-color: #ebebeb;
    border-top: 1px dashed #8c8989;
    font-size: 0.8rem;
    padding: 0.2rem 0rem;
    color: #8c8989;
}

/* mid Banner */
#midBanner{
    background: url('/assets/images/bg-image2.jpg');
    background-size: cover;
    background-repeat: inherit;
}
#midBanner h1{
    font-size: 1.9rem;
    font-weight: 700;
}
#midBanner .btn{
    font-size: 0.8rem;
    letter-spacing: 2px;
    border: 1px solid #fff;
    border-radius: 6px;
    color: #fff;
}
#midBanner .btn:hover{
    background-color: #fff;
    color: #111;
}

/* latest work */
#work{
    background-color: #ebebeb;
}
#work .card{
    border: none;
    background-color: #ebebeb;
}
#work .card .card-img{
    height: 230px;
}
#work .card .card-body{
    padding-right: 0!important;
    padding-left: 0!important;
    color: #686464;
}
#work .card .card-body h5{
    font-weight: 700;
    font-size: 1rem;
}
#work .btn{
    background-color: #74CCBC;
    border-radius: 6px;
    letter-spacing: 2px;
    font-size: 0.8em;
    display: grid;
    margin: auto;
}

/* clients */
#clients{
    background-color: #f8f8f8;
}

/* Work process */
#process{
    background-color: #2C2C2C;
}